html{}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

a, a:visited{

}

a:hover {

}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    cursor: pointer;
    margin-bottom:15px;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start button {
    font-size: 3rem;
    padding: 15px;
}